@use "sass:math";

// インナー幅設定
// コンテンツのインナー幅（最も共通の幅が多い部分）
$inner: 1080px;
// ※キュンパス幅ではなくインナーの幅を指す

// 余白
$padding-pc: 35px;
$padding-sp: 30px;

////////////////////
// フォント設定
////////////////////

$base-font-family: 'Noto Sans JP', sans-serif;
$second-font-family: 'Josefin Sans', serif;
$third-font-family: 'Crimson Text', serif;
// ※検証ツールでしっかり反映されているか確認する

body {
  font-family: $base-font-family;
}

// フォントウェイト
:root {
  --font-weight-regular: 400;
  --font-weight-normal: 500;
  --font-weight-bold: 700;
}

// フルリキッド
:root {
  --fluid-basis-mobile: (100vw - 340px) / (375 - 320);
  --fluid-basis: (100vw - 768px) / (1440 - 768);
  --fluid-basis-2: (100vw - 1440px) / (1800 - 1440);
}


////////////////////
// 色の指定
////////////////////

//色指定（共通性のあるものは出来る限り指定すると良い）
:root {
  --black: #222;
  --white: #fff;
  --main-color: #0A3158;
  --bg-color: #F1F7FC;
}

body {
  color: var(--black);
}