@use "global" as *;
.contact-form {
  margin-top: calc(var(--header-height) + 332px);
  background-color: var(--white);
  border-radius: 25px 25px 0px 0px;
  padding-bottom: rem(50);

  @include mq('md') {
    margin-top: calc(var(--header-height) + 370px);
    border-radius: 25px 25px 0px 0px;
    padding-bottom: rem(100);
  }

  @include mq('lg') {
    border-radius: 50px 50px 0px 0px;
  }
}


.contact-form__content {
padding-top: rem(50);
@include mq('md') {
padding-top: rem(60);
  max-width: 760px;
  margin-inline: auto;
}
}

.contact-form__text {
  font-size: rem(15);
  font-weight: 500;
  line-height: 2;
  letter-spacing: 1.5px;
}

.contact-form__text + .contact-form__text {
  margin-top: rem(20);
}

/* ===============================================
# form
=============================================== */
.contact-form__form {
  margin-top: rem(50);
  @include mq('md') {
    margin-top: rem(60);
  }
}
.wpcf7-form {
  display: flex;
  flex-direction: column;
  gap: rem(20);
  @include mq('md') {
    gap: rem(20);
  }
  }
  
  .form__group {
  display: flex;
  flex-direction: column;
  gap: rem(5);
  }
  
  .form__label {
    font-kerning: none;
    font-feature-settings: 'halt' on;
    font-size: rem(15);
    font-weight: 700;
    line-height: 1.8;
    letter-spacing: calc(0.75 / 15 * 1em);
    display: flex;
    align-items: center;
    gap: rem(8);
  }
  
  .form__input {
    font-size: rem(14);
    font-weight: 500;
    font-family: "Noto Sans JP", sans-serif;
    padding: rem(12) rem(15);
    border-radius: 5px;
    border: 1px solid #DDD;
    background: #FDF5EA;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25) inset;
    width: 100%;
    &::placeholder {
      color: #7B7B7B;
      opacity: 0.6;
    }
  }

  .form__textarea {
  height: rem(180);
  padding: rem(12) rem(15);
  border-radius: 5px;
  border: 1px solid #DDD;
  background:  #FDF5EA;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25) inset;
  font-size: rem(14);
  font-weight: 500;
  font-family: "Noto Sans JP", sans-serif;
  width: 100%;
  &::placeholder {
    color: #7B7B7B;
    opacity: 0.6;
  }
  @include mq('md') {
    height: rem(200);
  }
  }
  
  .wpcf7-spinner {
    display: none;
  }
  
  .form__submit-btn {
    max-width: rem(330);
    margin-inline: auto;
    width: 100%;
    margin-top: rem(10);
    @include mq('md') {
    margin-top: rem(20);
    }
  }
  
  .form__submit-button {
    color: #FFF;
    font-size: rem(14);
    font-weight: 700;
    line-height: 1.5;
    display: flex;
    width: 100%;
    height: rem(55);
    align-items: center;
    justify-content: center;
    background: var(--main-color);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid transparent;
    transition: color .3s ease, background .3s ease, border .3s ease;
    @media (any-hover: hover) {
      &:hover {
        background: var(--white);
        color: var(--main-color);
        border: 1px solid var(--main-color);
      }
    }
    @include mq('md') {
      font-size: rem(16);
      height: rem(60);
    }
  }

  
  .form__group.form__group--textarea {
    gap: 0;
    & .form__label {
      margin-bottom: rem(10);
    }
  }
