@use "global" as *;

.sub-about-more {
  background-color: #F4F4F4;
  padding-block: rem(80);
  border-radius: 25px 25px 0px 0px;
margin-top: -25px;
  @include mq('md') {
    padding-block: rem(120);
    border-radius: 50px 50px 0px 0px;
margin-top: -50px;
  }
}

.sub-about-more__title-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(19);
  position: relative;
  @include mq('md') {
    gap: rem(15);
  }
}

.sub-about-more__title-wrap::after {
  content: '';
  width: rem(60);
  height: 1px;
  background-color: var(--main-color);
  display: block;

  @include mq('md') {
    width: rem(80);
  }
}

.sub-about-more__title {
  font-family: $second-font-family;
  color: var(--main-color);
  font-size: clamp(35px, calc(35px + 5 * var(--fluid-basis-mobile)), 40px);
  font-weight: 500;
  line-height: 1em;
  letter-spacing: 0.03em;
  text-align: center;

  @include mq('md') {
    font-size: rem(50);
  }
}

.sub-about-more__subtitle {
  font-size: rem(23);
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 2px;
  color: #231815;
  text-align: center;
  margin-top: rem(51);
  @include mq('md') {
    font-size: rem(43);
    margin-top: rem(59);
  }

}


.sub-about-more__companies {
  margin-top: rem(50);
  display: grid;
  grid-template-columns: 1fr;
  row-gap: rem(34);
  max-width: 260px;
  margin-inline: auto;
  @media (max-width: 767px) {
  --fluid-basis-mobile: (100vw - 360px) / (390 - 360);
  }
  @include mq('md') {
    grid-template-columns: 1fr auto 1fr;
    column-gap: rem(34);
    max-width: rem(610);
    margin-top: rem(71);
  }
}

.sub-about-more__company {
  text-align: center;
}

.sub-about-more__company--shinoda .sub-about-more__img-wrap {
  max-width: rem(182);
  @media (max-width: 767px) {
  margin-inline: auto;
  }
@include mq('md') {
max-width: rem(170);
margin-left: rem(10);
}
}

.sub-about-more__company--ades .sub-about-more__img-wrap {
@include mq('md') {
padding-top: rem(10);
}
}

.sub-about-more__img-wrap {
  @include mq('md') {
    min-height: rem(90);
  }
}

.sub-about-more__img {
  height: auto;
  object-fit: contain;
}

.sub-about-more__text {
  font-size: rem(14);
  line-height: 1.8;
  margin-top: rem(24);
  text-align: justify;
  font-weight: 500;
  @include mq('md') {
    font-size: rem(12);
    margin-top: rem(35);
  }
}

.sub-about-more__cross {
  width: rem(93);
  aspect-ratio: 1 / 1;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.sub-about-more__cross::before,
.sub-about-more__cross::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: calc(100% + rem(30));
  height: rem(1);
  background-color: #000;
}

.sub-about-more__cross::before {
  transform: rotate(45deg);
}

.sub-about-more__cross::after {
  transform: rotate(-45deg);
}

.sub-about-more__note {
  font-size: clamp(12px, calc(12px + 3 * var(--fluid-basis-mobile)), 15px);
  line-height: 1.8;
  letter-spacing: 0.06em;
  margin-top: rem(50);
  text-align: center;
  font-weight: var(--font-weight-bold);
  @include mq('md') {
    font-size: rem(23);
    margin-top: rem(70);
    letter-spacing: 0.03em;
  }
}

.sub-about-more__spacer {
  height: rem(50);
  background-color: var(--white);
  @include mq('md') {
  display: none;
  }
}