@use "global" as *;

.access {
background-color: var(--bg-color);
padding-block: rem(80);
border-radius: 25px 25px 0px 0px;
margin-top: -25px;
@include mq('md') {
padding-block: rem(120) rem(142);
border-radius: 50px 50px 0px 0px;
margin-top: -50px;
}
}



.access__content {
@media (max-width: 767px) {
display: grid;
grid-template-areas:
"title"
"map"
"note"
"btn";
}
}

.access__head {
  @media (max-width: 767px) {
  display: contents;
  }
@include mq('md') {
display: flex;
justify-content: space-between;
align-items: flex-start;
}
}

.access__title {
@media (max-width: 767px) {
grid-area: title;
}
}

.access__map-btn {
  color: var(--white);
  font-family: $second-font-family;
  font-size: rem(13);
  font-weight: var(--font-weight-regular);
  padding: rem(8) rem(34) rem(6) rem(34);
  border: 1px solid var(--main-color);
background: var(--main-color);
position: relative;
@media (max-width: 767px) {
grid-area: btn;
width: fit-content;
padding: rem(8) rem(39.5) rem(6) rem(39.5);
margin-inline: auto;
margin-top: rem(23);
}
@media (any-hover: hover) {
&:hover {
  background-color: var(--white);
  color: var(--main-color);
}
}
}

.access__map-btn::before {
content: "arrow_outward";
position: absolute;
font-family: "Material Symbols Outlined";
top: 54%;
translate: 0 -50%;
right: rem(10);
font-size: rem(14);
font-weight: var(--font-weight-regular);
color: currentColor;
}


.access__map-wrap {
margin-top: rem(30);
@media (max-width: 767px) {
grid-area: map;
}
@include mq('md') {
margin-top: rem(65);
}
}

.access__map {
width: 100%;
height: 100%;
aspect-ratio: 330 / 310;
@include mq('md') {
  aspect-ratio: 1080 / 500;
}
}

.access__note {
  font-size: rem(15);
  font-weight: var(--font-weight-regular);
  letter-spacing: calc(1.5 / 15 * 1em);
  margin-top: rem(20);
  @media (max-width: 767px) {
  grid-area: note;
  }
  @include mq('md') {
  margin-top: rem(40);
  }
}

