@use "global"as *;

.ceo-message {
  background-color: var(--white);
  padding-block: rem(80) rem(100);
  border-radius: 25px 25px 0px 0px;
  margin-top: -25px;

  @include mq('md') {
    padding-block: rem(120) rem(170);
    border-radius: 50px 50px 0px 0px;
    margin-top: -50px;
  }
}

.ceo-message__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(61);
  margin-top: rem(40);
  
  @include mq('md') {
    flex-direction: row;
    align-items: flex-start;
    margin-top: rem(80);
    gap: rem(70);
    max-width: 900px;
    margin-inline: auto;
  }
}

.ceo-message__img-wrap {
  width: 100%;
  max-width: rem(245);
  height: auto;
  
  @include mq('md') {
    max-width: rem(400);
    flex-shrink: 0;
  }
}

.ceo-message__img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 0;
  
  @include mq('md') {
    width: rem(400);
    height: rem(520);
  }
}

.ceo-message__text-wrap {
  display: flex;
  flex-direction: column;
  gap: rem(34);
  width: 100%;
  
  @include mq('md') {
    gap: rem(30);
    flex: 1;
  }
}

.ceo-message__main {
  display: flex;
  flex-direction: column;
  gap: rem(34);
}

.ceo-message__title {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: rem(27);
  font-weight: 700;
  line-height: 1.333;
  letter-spacing: 0.1em;
  color: #0A3158;
  text-align: center;
  
  @include mq('md') {
    line-height: 1.185;
    text-align: left;
  }
}

.ceo-message__text {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: rem(15);
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.1em;
  color: #222222;
  
  @include mq('md') {
    line-height: 2;
  }
}

.ceo-message__signature {
  display: flex;
  flex-direction: column;
  gap: rem(17);
}

.ceo-message__position {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: rem(14);
  font-weight: 400;
  line-height: 1.643;
  letter-spacing: 0.1em;
  color: #222222;
  text-align: right;
  
  @include mq('md') {
    font-size: rem(15);
    line-height: 2;
    text-align: left;
  }
}

.ceo-message__name {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: rem(27);
  font-weight: 400;
  line-height: 1.111;
  letter-spacing: 0.1em;
  color: #222222;
  text-align: right;
  
  @include mq('md') {
    text-align: left;
  }
}