@use "global" as *;

.clients {
  background-color: var(--white);
  padding-block: rem(80) rem(120);
  @include mq('md') {
  padding-block: rem(113);
  }
}

.clients__title-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(19);
  position: relative;
  @include mq('md') {
    gap: rem(15);
  }
}

.clients__title-wrap::after {
  content: '';
  width: rem(60);
  height: 1px;
  background-color: var(--main-color);
  display: block;

  @include mq('md') {
    width: rem(80);
  }
}

.clients__title {
  font-family: $second-font-family;
  color: var(--main-color);
  font-size: clamp(35px, calc(35px + 5 * var(--fluid-basis-mobile)), 40px);
  font-weight: 500;
  line-height: 1em;
  letter-spacing: 0.03em;
  text-align: center;

  @include mq('md') {
    font-size: rem(50);
  }
}


.clients__lists {
display: grid;
grid-template-columns: 1fr;
margin-top: rem(30);
@include mq('md') {
grid-template-columns: repeat(2, 1fr);
gap: rem(30);
margin-top: rem(70);
}
}

.clients__list {
display: flex;
flex-direction: column;
}

.clients__item {
  font-size: rem(15);
  font-weight: var(--font-weight-regular);
  line-height: 2;
  letter-spacing: calc(1.5 / 15 * 1em);
}


