@use "global" as *;

.overview {
  margin-top: calc(var(--header-height) + 332px);
  background-color: var(--white);
  border-radius: 25px 25px 0px 0px;
  padding-bottom: rem(105);

  @include mq('md') {
    margin-top: calc(var(--header-height) + 370px);
    border-radius: 25px 25px 0px 0px;
    padding-bottom: rem(170);
  }
  
  @include mq('lg') {
    border-radius: 50px 50px 0px 0px;
  }
}

.overview__title-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(19);
  position: relative;
  @include mq('md') {
    gap: rem(15);
  }
}

.overview__title-wrap::after {
  content: '';
  width: rem(60);
  height: 1px;
  background-color: var(--main-color);
  display: block;

  @include mq('md') {
    width: rem(80);
  }
}

.overview__title {
  font-family: $second-font-family;
  color: var(--main-color);
  font-size: clamp(35px, calc(35px + 5 * var(--fluid-basis-mobile)), 40px);
  font-weight: 500;
  line-height: 1em;
  letter-spacing: 0.03em;
  text-align: center;

  @include mq('md') {
    font-size: rem(50);
  }
}

.overview__breadcrumbs {
  padding-top: rem(50);
}

.overview__content {
  margin-top: rem(50);
  @include mq('md') {
    margin-top: rem(42);
  }
}


.overview__list {
  margin-top: rem(40);
  display: grid;
  grid-template-columns: 1fr;
  gap: rem(40);
  @include mq('md') {
    margin-top: rem(80);
    grid-template-columns: repeat(2, 1fr);
    gap: rem(110);
  }
}


.overview__item--01 {
 & .overview__img {
  width: rem(330);
  @include mq('md') {
  width: rem(386.548);
  }
 }
}

.overview__item--02 {
 & .overview__img {
  width: rem(234);
  @include mq('md') {
  width: rem(275);
  margin-right: rem(20);
  }
 }
}

.overview__img-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
    min-height: rem(150);
    @include mq('md') {
    justify-content: flex-start;
    }
}

.overview__img {
height: auto;
object-fit: contain;
}

.overview__company-name {
  color: var(--main-color);
  font-size: rem(20);
  font-weight: var(--font-weight-bold);
  line-height: 1.6;
  letter-spacing: calc(2 / 20 * 1em);
  margin-top: rem(48);
  @media (max-width: 767px) {
  text-align: center;
  }
  @include mq('md') {
  margin-top: rem(45);
  }
}

.overview__company-name-sub {
  font-size: rem(10);
  letter-spacing: calc(1 / 10 * 1em);
  @media (max-width: 767px) {
  text-align: center;
  display: block;
  }
@include mq('xl') {
 font-size: clamp(10px, calc(10px + 1 * var(--fluid-basis-2)), 11px);
}
}

.overview__info-list {
display: flex;
flex-direction: column;
margin-top: rem(26);
@include mq('md') {
margin-top: rem(23);
}
}

.overview__info-item:first-of-type {
border-top: 1px solid #DFDFDF;
}

.overview__info-item {
padding-block: rem(20);
font-size: rem(15);
font-weight: var(--font-weight-regular);
line-height: 2;
letter-spacing: calc(1.5 / 15 * 1em);
border-bottom: 1px solid #DFDFDF;
}
