@use "global"as *;

.breadcrumbs {
  display: grid;
  grid-template-columns: repeat(8, max-content);
  align-items: center;
  gap: rem(10);
}

.breadcrumbs-item {
  color: #9FA0A0;
  font-family: $second-font-family;
  font-size: rem(14);
  font-weight: 500;
}

.breadcrumbs-link {
  transition: opacity .3s;

  @media (any-hover: hover) {
    &:hover {
      opacity: 0.7;
    }
  }
}

.breadcrumbs-item--arrow {
  width: rem(7);

  & img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    aspect-ratio: 4/8;
  }
}

.breadcrumbs-item--single {
  font-family: "Yu Gothic", "Noto Sans JP", sans-serif;
  font-weight: 700;
}