@use "global"as *;

.pagination {
  display: flex;
  justify-content: center;
  gap: rem(5);
}

.page {
  display: flex;
  width: 32px;
  height: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  font-size: rem(13);
  color: #333;
  border-radius: 8px;
  font-family: "Open Sans", serif;
  font-weight: 600;
  border: 1px solid #DFDFDF;
  transition: background-color .3s, color .3s;

  &.current {
    background-color: var(--main-color);
    color: var(--white);
  }

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--main-color);
      color: var(--white);
    }
  }
}

.dots {
  display: flex;
  width: 32px;
  height: 32px;
  justify-content: center;
}