@use "global"as *;

.section-title {
  font-family: $second-font-family;
  color: var(--main-color);
  font-size: rem(40);
  font-weight: 500;
  letter-spacing: 1.2px;

  &::first-letter {
    text-transform: uppercase;
  }

  line-height: 1;

  @include mq('md') {
    font-size: rem(50);
    letter-spacing: 1.5px;
  }
}

.section-title-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(19);
  position: relative;
  @include mq('md') {
    gap: rem(15);
  }
}

.section-title-wrap::after {
  content: '';
  width: rem(60);
  height: 1px;
  background-color: var(--main-color);
  display: block;

  @include mq('md') {
    width: rem(80);
  }
}

.section-title02 {
  font-family: $second-font-family;
  color: var(--main-color);
  font-size: clamp(35px, calc(35px + 5 * var(--fluid-basis-mobile)), 40px);
  font-weight: 500;
  line-height: 1em;
  letter-spacing: 0.03em;
  text-align: center;

  @include mq('md') {
    font-size: rem(50);
  }
}