@use "global"as *;

.mv {
  padding-top: var(--header-height);
  max-height: 650px;
  position: fixed;
  width: 100%;
  inset: 0;
  z-index: -1;

  @include mq('md') {
    max-height: min(900px, 100vh);
    overflow: hidden;
  }

}

.mv__inner {
  height: 100%;
  position: relative;
}

.mv__content {
  position: absolute;
  z-index: 10;
  bottom: 0;
  margin-bottom: rem(139);

  @media (max-width: 767px) {
    left: 50%;
    translate: -50% 0;
  }

  @include mq('md') {
    margin-left: rem(173);
    margin-bottom: rem(170);
    left: 0;
  }

  @media (min-width: 768px) and (max-height: 650px) {
    margin-bottom: rem(60);
  }

  @media (min-width: 768px) and (max-width: 1440px) and (max-height: 600px) {
    zoom: .8;
    margin-bottom: rem(100);
  }

}

.mv__title {
  color: var(--white);
  font-size: rem(28);
  font-weight: 600;
  line-height: 1.3;
  white-space: nowrap;
  @media (max-width: 767px) {
    text-align: center;
  }

  @include mq('md') {
    font-size: rem(45);
    line-height: 70px;
  }
  
}
.mv-text-animation {
  overflow: hidden;
}

.mv-text-animation span {
  display: inline-block;
  opacity: 0;
  transform: translateY(1em);
  animation: none; /* 初期状態ではアニメーションなし */
}


.animate-text .mv-text-animation span {
  animation: fadeUp 0.5s ease-out forwards;
  animation-delay: calc(var(--delay, 0s) + var(--index) * 0.05s);
}

.mv-text-animation.delay-1 span {
  animation-delay: calc(0.3s + var(--index) * 0.02s);
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(1em);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.mv__text {
  color: var(--white);
  font-size: rem(10);
  font-family: $third-font-family;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 1px;
  white-space: nowrap;

  @include mq('md') {
    font-size: rem(18);
    margin-top: rem(34);
    letter-spacing: 1.8px;
  }
}

.mv__link {
  height: rem(70);
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 55px;
  color: var(--white);
  width: rem(270);
  font-size: rem(14);
  font-weight: 500;
  letter-spacing: 1.4px;
  position: relative;
  transition: color .3s, background-color .3s;
  margin-top: rem(85);
  opacity: 0;
  border: 2px solid var(--main-color);

  @media screen and (max-height: 650px) {
    margin-top: clamp(30px, 10vh, 85px);
  }

  @media (max-width: 767px) {
    margin-inline: auto;
    animation-delay: .7s;
  }

  @include mq('md') {
    margin-top: rem(60);
  }

  @media (any-hover: hover) {
    &:hover {
      color: var(--main-color);
      background-color: var(--white);
    }
  }
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

.animate-text .mv__link {
  animation: fade-in 1.5s ease-in-out forwards;
  animation-delay: 1s;
  opacity: 0;
}

.mv__link::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 29px;
  width: 9px;
  height: 9px;
  border-top: 2px solid var(--white);
  border-right: 2px solid var(--white);
  transform: translateY(-50%) rotate(45deg);
  transition: border .3s;

}

@media (any-hover: hover) {
  .mv__link:hover::after {
    border-top: 2px solid var(--main-color);
    border-right: 2px solid var(--main-color);
  }
}

.mv__swiper::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom,
      rgba(45, 83, 104, 0) 50%,
      rgba(45, 83, 104, 0.87) 80%,
      rgba(45, 83, 104, 1) 100%);
  z-index: 5;
}

.mv__swiper .swiper-slide {
  overflow: hidden;
}

.mv__swiper,
.mv__swiper .swiper-img,
.mv__swiper .swiper-img img {
  height: 100%;
}

.mv__swiper .swiper-img img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1158/792;
}

.mv__swiper .swiper-pagination {
  bottom: 0;
  margin-bottom: rem(81);

  @media (max-width: 767px) {
    left: 50%;
    translate: -50% 0;
  }

  @include mq('md') {
    bottom: 0;
    margin-bottom: rem(190);
    left: 30%;
  }

  @media (min-width: 768px) and (max-height: 650px) {
    margin-bottom: rem(90);
  }
}

.mv__swiper .swiper-pagination-bullet {
  width: rem(47);
  height: rem(6);
  border-radius: 0;
  background: #FFF;
}


.mv__swiper .swiper-pagination-bullet-active {
  background: #FFF;
}