@use "global"as *;

.about {
  margin-top: calc(var(--mv-height) - rem(50));
  background-color: var(--white);
  padding-block: rem(80);
  border-radius: 25px 25px 0px 0px;
  position: sticky;
  inset: 0;
  z-index: -1;

  @include mq('md') {
    margin-top: min(850px, 95vh);
    padding-block: rem(120) rem(200);
    border-radius: 50px 50px 0px 0px;
  }
}

.about__subtitle {
  font-size: rem(20);
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: 2px;
  color: var(--main-color);
  margin-top: rem(20);
}

.about__text-wrap {
  margin-top: rem(35);
  display: flex;
  flex-direction: column;
  gap: rem(40);
}

.about__text {
  font-size: rem(15);
  font-weight: 400;
  line-height: 2;
  letter-spacing: 1.5px;

  @media (max-width: 1440px) and (max-height: 600px) {
    line-height: 1.8;
  }
}