@use "global"as *;

.contact {
  padding-block: rem(55);
  background-color: var(--white);
  position: relative;

  @include mq('md') {
    padding-block: rem(120);
  }
}

.contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  border-radius: 0px 25px 0px 0px;

  @include mq('md') {
    border-radius: 0px 50px 0px 0px;
    width: calc(100% - 50px);
  }
}


.contact__content {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;

  @media (max-width: 767px) {
    flex-direction: column;
    gap: rem(36);
  }

  @include mq('md') {
    justify-content: space-between;
  }
}

.contact__link {
  padding-inline: rem(91) rem(83);
  height: rem(70);
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 55px;
  color: var(--white);
  font-size: rem(14);
  font-weight: 500;
  letter-spacing: 1.4px;
  border: 2px solid var(--main-color);
  width: fit-content;
  transition: background-color .5s, color .5s;

  @media (min-width: 768px) and (max-width: 1260px) {
    margin-right: rem(60);
  }

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--white);
      color: var(--main-color);

      & .contact__link-text::after {
        border-color: var(--main-color);
      }

      & .contact__link-text::before {
        background: url('../images/common/mail-icon-blue.svg') no-repeat center center / contain;
      }
    }
  }
}

.contact__link-text {
  position: relative;
}


.contact__link-text::before {
  content: "";
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  left: rem(-40);
  background: url('../images/common/mail-icon.svg') no-repeat center center / contain;
  width: rem(27);
  height: rem(20);
  transition: background .3s;
}

.contact__link-text::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -65%;
  width: 8px;
  height: 8px;
  border-top: 2px solid var(--white);
  border-right: 2px solid var(--white);
  transform: translateY(-50%) rotate(45deg);
  transition: border-color .3s;
}