@use "global" as *;

.error {
padding-block: rem(100) rem(30);
@include mq('md') {
  padding-block: rem(150) rem(50);
}
}

.error__text {
text-align: center;
line-height: 2.5;
font-weight: 500;
font-size: rem(13);
@include mq('md') {
font-size: rem(20);
}
}

.error__btn {
  text-align: center;
  @media (max-width: 767px) {
    margin-bottom: rem(50);

  }
}

.error__btn-link  {
  padding: rem(20) rem(80);
  background-color: var(--main-color);
  color: var(--white);
  border-radius: 100vmax;
  font-size: rem(14);
  font-weight: 500;
  line-height: 1;
  letter-spacing: 1.4px;
  position: relative;
  border: 2px solid var(--main-color);
  transition: color .3s, background-color .3s;
  margin-top: rem(30);

  @media (max-width: 767px) {
    width: fit-content;
    order: 3;
    margin-top: rem(10);
    margin-inline: auto;
    padding: rem(15) rem(60);
  }

  @media (any-hover: hover) {
    &:hover {
      color: var(--main-color);
      background-color: var(--white);
    }

    &:hover::after {
      border-top: 2px solid var(--main-color);
      border-right: 2px solid var(--main-color);
    }
  }
}

.error__btn-link::after {
  content: "";
  position: absolute;
  top: 50%;
  right: rem(20);
  width: 8px;
  height: 8px;
  border-top: 2px solid var(--white);
  border-right: 2px solid var(--white);
  transform: translateY(-50%) rotate(45deg);
  transition: border-color .3s;

}
