@use "global"as *;

.service {
  background-color: var(--bg-color);
  border-radius: 25px 25px 0px 0px;
  padding-block: rem(80);

  @include mq('md') {
    margin-top: rem(-60);
    border-radius: 50px 50px 0px 0px;
    padding-block: rem(120) rem(180);
  }
}


.service__header {
  display: grid;

  @include mq('md') {
    grid-template-columns: max-content auto;
    justify-content: space-between;
    gap: rem(195);
  }
}

.service__title {
  @media (max-width: 767px) {
    text-align: center;
  }
}

.service__header-text {
  font-size: rem(15);
  font-weight: 400;
  line-height: 2.13;
  letter-spacing: 1.5px;

  @media (max-width: 767px) {
    margin-top: rem(30);
  }
}

.service__list {
  display: grid;
  margin-top: rem(40);
  grid-template-columns: 1fr;
  gap: rem(21);

  @include mq('md') {
    grid-template-columns: repeat(3, 1fr);
    margin-top: rem(59);
  }
}

.service__item {
  background-color: var(--white);
  filter: drop-shadow(0px 4px 30px rgba(10, 49, 88, 0.10));
}

.service__item-link {
  display: block;
  transition: filter .3s;

  @media (any-hover: hover) {
    &:hover {
      filter: brightness(1.2);
    }

    &:hover .service__item-img {
      transform: scale(1.07);
    }

    &:hover .service__item-title::before {
      transform: scaleX(0);
    }
  }
}

.service__item-img-wrap {
  overflow: hidden;
  position: relative;
}

.service__item-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 330/220;
  transform: scale(1);
  transition: transform .3s;

  @include mq('md') {
    aspect-ratio: 346/488;
  }
}

.service__item-body {
  padding: rem(35) rem(30);
}

.service__item-title {
  color: var(--main-color);
  font-size: rem(20);
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
}

.service__item-title::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -12px;
  width: 8px;
  height: 8px;
  border-top: 2px solid var(--main-color);
  border-right: 2px solid var(--main-color);
  transform: translateY(-50%) rotate(45deg);
}

.service__item-title::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  translate: -50% 0;
  width: 100%;
  height: 2px;
  background-color: var(--main-color);
  transition: transform 0.2s ease-out;
  transform-origin: left;

}

.service__item-text {
  font-size: rem(15);
  font-style: normal;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 1.5px;
  margin-top: rem(25);
  transition: color .3s;

  @media (max-width: 767px) {
    margin-top: rem(20);
  }
}