@use "global"as *;

.single-works-mv {
  margin-top: var(--header-height);
  height: 368px;
  position: fixed;
  width: 100%;
  inset: 0;
  z-index: -1;

  @include mq('md') {
    height: 420px;
  }
}

.single-works-mv__bg {
  position: relative;

  & img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 390/368;
    @include mq('md') {
      aspect-ratio: 1440/420;
    }
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.50);
        z-index: 1;
  } 
}

.single-works-mv__content {
  position: absolute;
  left: rem(30);
  top: 45%;
  translate: 0 -50%;
  display: flex;
  flex-direction: column;
  gap: rem(20);
  z-index: 2;

  @include mq('md') {
    left: rem(180);
    top: 40%;
  }
}

.single-works-mv__en-title {
  color: var(--white);
  font-family: $second-font-family;
  font-size: rem(19);
  font-weight: 500;
  letter-spacing: 0.57px;
  padding-bottom: 4px;
  position: relative;
  display: inline-block;

  &::first-letter {
    text-transform: uppercase;
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 20px;
    height: 2px;
    background-color: #096DA0;
  }
}

.single-works-mv__jp-title {
  color: var(--white);
  font-weight: 600;
  font-size: rem(33);
  letter-spacing: 3.3px;

  @include mq('md') {
    font-size: rem(45);
    letter-spacing: 4.5px;
  }
}

.single-works-mv__sub-title {
  color: var(--white);
  font-weight: 400;
  letter-spacing: 1.3px;
  font-size: rem(13);

  @include mq('md') {
    font-size: rem(18);
    letter-spacing: 1.8px;
  }
}

.single-works-mv__category {
  color: var(--white);
  font-size: rem(10);
  font-weight: 400;
  background-color: #096DA0;
  display: inline-block;
  width: fit-content;
  line-height: 1;
  padding: rem(6) rem(24);
  letter-spacing: 1px;
margin-top: rem(10);
  @include mq('md') {
    padding: rem(6) rem(42);
  }
}